*{
    padding: 0px;
    margin: 0px;
}


.contenedor{
    width: 100%;
    .header{
      position: absolute;
      display: grid;

      .text-header-content{
        display: grid;
        grid-template-columns: 60% 40%;
        width: 50%;
        margin: auto;
        color: #000000;
        z-index: 2;


        .titulo-header-content{
          text-align:center;
        }

        .parrafo-header-content{
          padding-right:15px;
        }
      }


      ul{
        list-style: none;
      }
        .nav{

            z-index: 2;
            height: 200px;

            li{
              float: left;
              padding: 15px;
              a{
                color:#fff;
                width: 100%;
                text-decoration: none;
                padding: 10px 15px;
                display: block;
                text-align: center;
              }
              a:hover
              {
                background:#434343;
                color: #fff;
                border-bottom: 2px solid #fff;
              }
            }
      }
    }

    .contenido1{
        display: grid;
        .content1-texto{
          padding-top: 200px;
              position:absolute;
              text-align: center;
        }
    }

    .contenido2{
        display: grid;
        .content2-texto{
          padding-top: 200px;
          position: absolute;
          text-align: center;

        }
    }
}
