*{
    padding: 0px;
    margin: 0px;
}

.contenedor{
    width: 100%;
    .header{

      height: 30%;

      ul{
        list-style: none;
      }
        .nav{
            li{
              float: left;
              padding: 15px;
              a{
                color:#fff;
                width: 100%;
                text-decoration: none;
                padding: 10px 15px;
                display: block;
                text-align: center;
              }
              a:hover
              {
                background:#434343;
                color: #fff;
                border-bottom: 2px solid #fff;
              }
            }
      }
    }
}
