.contenedor{
    display: grid;
    grid-gap: 20px;

    .header{
      display: grid;
      height: 400px;
      justify-content: start;
      padding: 10px;
      background-image: url('../../HTML/imagenes/fondo-presentacion.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;

      .text-header-content{
        display: grid;
        grid-template-columns: 60% 40%;

        .titulo-header-content{
          text-align:center;
          color: #ffffff;
        }

        .parrafo-header-content{
          color: #ffffff;
        }

      }

    }

    .contenido1{

        background: lightgreen;
        text-align: center;
    }

    .contenido2{

        background-color: lightgreen;
        text-align: center;
    }

    .footer{

        background-color: darkblue;
        text-align:center;
        color: #fff;
    }

}
