

.contenedor{
    display: grid;
    /*grid-gap: 20px;*/

    .back-image{
      opacity: 0.6;
      z-index: -1;
      img{
        width: 100%;
        height: 1000px;
      }


    .header{


      .text-header-content{
        display: grid;
        grid-template-columns: 60% 40%;
        z-index: 2;

        .titulo-header-content{
          text-align:center;
          color: #ffffff;
        }

        .parrafo-header-content{
          color: #ffffff;
        }

      }
     }
    }

    .contenido1{
        text-align: center;

        .content1-texto{
          position:absolute;
        }
    }

    .contenido2{
        text-align: center;

        .content2-texto{
          position: absolute;
        }
    }

    .footer{
        background-color: darkblue;
        text-align:center;
        color: #fff;
        padding: 15px;
    }
}
