body{
  margin: 0;
  padding: 0;

  background-image: url(../../HTML/imagenes/fondo-l.jpg);
  background-size: contain;
  //background: rgba(232,232,232,1);
  //background: linear-gradient(to right, rgba(232,232,232,1) 0%, rgba(222,222,222,1) 44%, rgba(217,217,217,1) 74%, rgba(217,217,217,1) 97%);
  //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#d9d9d9', GradientType=1 );
}


.Login{

  .Imagen{

    box-sizing: border-box;

    img{
      width: 100%;
      border-radius: 10px;
      box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.75);
    }

    p{
      z-index: 2;
      text-align: center;
      font-size: 20pt;
    }

  }

  background-color: #ffffff;
  color: #000000;
  width: 40%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 100px;
  padding: 10px 20px;
  border-radius: 25px;
  box-shadow: -4px 7px 20px -4px rgba(0,0,0,0.56);

  .Login-container{
      .Form-login{

        display: grid;
        /*grid-template-rows: 3;*/
        grid-row-gap: 20px;


        .btn{
          width: 100%;
          text-decoration: none;
          border-radius: 25px;
          background: rgba(#ffda18, 1);
          text-align: center;
          text-decoration: none;
          color: #000000;
          padding: 10px;
          box-sizing: border-box;
          transition-property: all;
          transition-duration: 1.0s;
          transition-timing-function: cubic-bezier(.1,.48,.44,.78);
        }

        .btn:hover{
          color: rgb(120, 178, 255);
          box-shadow: -4px 7px 20px -4px rgba(0,0,0,0.56);
          transition-property: all;
          transition-duration: 0.7s;
          transition-timing-function: cubic-bezier(.1,.48,.44,.78);
        }

        .Campos-form{
          display: grid;
          grid-template-rows: 3;
          grid-row-gap: 20px;

          input[type=text],input[type=password]{
            width: 100%;
            margin: 10px 0px;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
          }
        }
      }
  }
}


.footer{
  display: block;
  color: #ffffff;
  padding: 10px;
  bottom: 0;
  border-top: 1px solid #ffffff;

  .footer-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
