.main_container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 15px;
  .chat iframe{
    height: 580px;
    width: 400px;;
  }
}



#mapContainer{
  margin: auto;
  margin-top: 6%;
  box-shadow: -5px 8px 5px 0px rgba(0,0,0,0.75);
}

.text-map{
  margin: auto;
  .title-map{
    text-align: center;
    font-size:20pt;
    font-weight: bold;
    font-style: italic;
    font-family: "Times New Roman", Times, serif;
  }
}

.vertical-menu {
  width: 300px;
  height: 580px;
  overflow-y: auto;
}

.vertical-menu a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: #ccc;
}

.vertical-menu a.active {
  background-color: #2880d1;
  color: white;
}
