body {
  margin: 0;
  padding: 0;
  background-image: url(../../HTML/imagenes/fondo-l.jpg);
  background-size: contain;
}

.google-button:focus, .google-button:hover {
  box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.1);
}
.google-button:active {
  background-color: #e5e5e5;
  box-shadow: none;
  transition-duration: 10ms;
}



.google-button__text {
  display: inline-block;
  vertical-align: middle;
  padding: 0 24px;
  font-size: 14px;
  font-weight: bold;
  font-family: "Roboto", arial, sans-serif;
}

.Login {
  display: grid;
  grid-row-gap: 20px;
  background-color: #ffffff;
  color: #000000;
  width: 40%;
  margin: auto;
  margin-top: 48px;
  margin-bottom: 100px;
  padding: 10px 20px;
  border-radius: 25px;
  box-shadow: -4px 7px 20px -4px rgba(0, 0, 0, 0.56);
}
.Login .Imagen {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.Login .Imagen p {
  z-index: 2;
  text-align: center;
  font-size: 20pt;
}
.Login .Login-container .Form-login {
  display: grid;
  /*grid-template-rows: 3;*/
  grid-row-gap: 20px;
}
.Login .Login-container .Form-login .btn {
  width: 100%;
  text-decoration: none;
  border-radius: 25px;
  background:rgb(49, 184, 221);
  text-align: center;
  text-decoration: none;
  color: #fff;
  padding: 10px;
  box-sizing: border-box;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.1, 0.48, 0.44, 0.78);
}
.Login .Login-container .Form-login .btn:hover {
  color: #fff;
  box-shadow: -4px 7px 20px -4px rgba(0, 0, 0, 0.56);
  transition-property: all;
  transition-duration: 0.7s;
  transition-timing-function: cubic-bezier(0.1, 0.48, 0.44, 0.78);
}
.Login .Login-container .Form-login .Campos-form {
  display: grid;
  grid-template-rows: 3;
  grid-row-gap: 20px;
}
.Login .Login-container .Form-login .Campos-form input[type=text], .Login .Login-container .Form-login .Campos-form input[type=password] {
  width: 100%;
  margin: 10px 0px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.footer {
  display: block;
  color: #ffffff;
  padding: 10px;
  bottom: 0;
  border-top: 1px solid #ffffff;
}
.footer .footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
